<h1>Write a new post</h1>

<%= form_with model: @post, url: user_posts_path(@user.id) do |form| %>
  <div>
    <%= form.text_field :title, placeholder: "Title"%>
    <br>
    <%= form.text_area :text, placeholder: "Type your content here..." %>
    <br>
    <%= form.submit "Submit" %>
  </div>
<% end %>